@{
    ViewBag.Title = "About";
}
 @Styles.Render("~/Content/css")
<div class="container-fluid">
    <div class="page-header">
        <h1>A propos</h1>
        <p class="lead">Vous souhaitez en apprendre plus sur Streameus ? Vous êtes sur la bonne page.</p>
    </div>

    <h3>Le concept</h3>
    <p>Streameus est le réseau participatif qui vous permet de suivre et créer des conférences dans les domaines qui vous passionnent.</p>
    
    <p>En tant qu’auditeur, vous êtes libre de participer à toutes les conférences de votre choix, de confronter votre opinion, de chatter avec les autres auditeurs et même de prendre la parole aux cotés du conférencier. Si un conférencier diffuse un contenu qui vous intéresse, vous pouvez le suivre afin d’être tenu au courant de son actualité. Pour garantir la qualité des conférences, Streameus permet aux conférenciers de fixer un prix d’entrée (ou non). Les conférenciers sont donc plus attentifs à la qualité du contenu qu’ils délivrent et les auditeurs assurés de suivre une conférence correspondant à leurs attentes.
Le conférencier peut rendre la conférence disponible après diffusion, ainsi que les documents l’accompagnant, ceci permettant à tous d’en profiter. Streameus est disponible sur tous les appareils, ordinateurs, tablettes, smartphones.</p>

    <h3>EIP</h3>
    <p>L’EIP, Epitech Innovative Project s’apparente à un projet de fin d’études réalisé par groupes de 6
personnes ou plus. Il commence en milieu de troisième année et se termine en fin de cinquième
année. Le but de ce projet innovant est de proposer un projet fini, durable, documenté et utilisable
directement dans le monde professionnel. Le sujet est libre et choisi par l’étudiant, celui-ci doit être
original et porteur de nouveautés et est soumis à la validation du laboratoire EIP qui apportera aux
étudiants une aide sous forme de tutorat. Le groupe de projet est placé dans une situation
professionnelle, c’est un travail d’entreprise complet : il est imaginé, conçu, développé, finalisé et
présenté par les étudiants.</p>

</div>