@{
    ViewBag.Title = "FAQ";
}
@Styles.Render("~/Content/css")
<div class="container-fluid">
    <div class="page-header">
        <h1>FAQ</h1>
        <p class="lead">Frequently Asked Questions</p>
    </div>

    <h3>Comment suis-je rémunéré ?</h3>
    <p>Les profits de votre conférence seront versés sur le compte PayPal que vous avez renseigné. Le
versement sera effectué dans un délai qui est compris entre un et deux jours ouvrables.</p>

    <h3>À quelle hauteur puis-je être rémunéré ?</h3>
    <p>Nous ne plaçons aucune limite sur les rémunérations. L’argent récolté par votre conférence
dépendra uniquement du nombre d’internautes présents dans votre conférence et du prix que vous
avez préalablement fixé pour celle-ci.</p>

    <h3>J’aimerais assister à une conférence payante, comment faire ?</h3>
    <p>Vous pouvez créditer votre compte en vous rendant dans l’espace « mon compte », puis en
renseignant votre carte bancaire ou votre compte PayPal. Votre solde est crédité en temps réel.</p>

    <h3>Comment s’inscrire ? Cela prend-il du temps ?</h3>
    <p>Vous pouvez créer un compte Streameus, ou bien vous identifier directement sur le site avec votre
compte Facebook, Twitter ou Google Plus. L’inscription prend seulement quelques minutes, il suffit
de remplir le formulaire qui apparaît après avoir cliqué sur le bouton « m’inscrire » présent sur la
page d’accueil.</p>

    <h3>J’ai oublié mon mot de passe ?</h3>
    <p>Pour retrouver votre mot de passe, allez sur la page « connexion » puis cliquez sur le lien « Mot de
        passe perdu » situé sous le formulaire de connexion. Après avoir entré votre nom d’utilisateur ou
        votre e-mail, vous recevrez un e-mail vous indiquant la procédure à suivre pour changer votre mot de
        passe.</p>

    <h3>Comment puis-je vous contacter ?</h3>
    <p>Vous rencontrez des difficultés ou vous avez repéré un bug ? Vous pouvez nous contacter en cliquant
        sur le lien « nous-contacter » présent sur le pied de page du site.</p>
    
    <h3>Est-ce que c’est gratuit ?</h3>
    <p>S’inscrire, échanger avec les autres utilisateurs ainsi que créer une conférence sur Streameus est
        entièrement gratuit. Néanmoins, certaines conférences sont payantes, pour y participer vous devrez
        donc payer le prix spécifié.</p>
    
    <h3>Qui est derrière Streameus ?</h3>
    <p>Streameus est composé d’une équipe de 8 personnes. Le projet est né au sein de l’école Epitech à
        Lyon dans le cadre des Epitech Innovative Projects (EIP). Pour plus d’informations, vous pouvez vous
        rendre sur la page « À propos » > « L’équipe ».</p>
    
    <h3>Puis-je supprimer mon compte ?</h3>
    <p>Oui, vous pouvez supprimer votre compte depuis l’espace « Mot compte » > « Supprimer mon
        compte ». Néanmoins, certaines données comme vos conférences peuvent persister, car elles sont
        partagées avec d’autres utilisateurs.</p>
    
    <h3>Est-ce que mes informations sont sécurisées ?</h3>
    <p>Oui, toutes vos informations sont stockées sur notre base de données dont l’accès est strictement
        sécurisé. De plus, certaines informations sensibles comme votre mot de passe sont cryptées à l’aide
        d’algorithmes mathématiques.</p>
    
    <h3>Qu’est-ce que les Cookies ? Et qu’en faites-vous ?</h3>
    <p>Un cookie est un petit texte stocké par votre navigateur, qui lui permet de conserver des
        informations entre les pages internet et les sessions de navigation. Streameus utilise un certain
        nombre de cookies. Ils nous permettent par exemple de vous authentifier sans que vous soyez
        déconnecté chaque fois que vous changez de page.
        Les cookies ne peuvent conserver que du texte, qui est toujours confidentiel et dans la plupart des
        cas crypté. Streameus ne conservera jamais aucune donnée personnelle dans un cookie.</p>

    <h3>Qu’est-ce que suivre quelqu’un ? Qui peut me suivre ?</h3>
    <p>Suivre quelqu’un vous permet d’être tenu au courant de ses activités et ainsi d’être prévenu lorsque
        cette personne a participé à une conférence ou lorsqu’elle va en organiser une.
        N’importe qui peut vous suivre, néanmoins, c’est à vous de décider ce que les personnes qui vous
        suivent peuvent voir. Pour ajouter vos paramètres de confidentialité, il vous suffit de vous rendre sur
        l’espace « mon compte » → « mes paramètres de confidentialité ».</p>

    <h3>Puis-je utiliser Streameus depuis mon mobile ?</h3>
    <p>Oui, nous avons créé 3 applications vous permettant d’utiliser depuis Windows Phone, Android et
        iOS. Vous pouvez trouver ces applications depuis les magasins (« stores ») respectifs de ces
        plateformes.</p>
</div>