@using Resources
@{
    ViewBag.Title = "Team";
}
@Styles.Render("~/Content/css")
<div class="container-fluid">
    <div class="page-header">
        <h1>@Team.team</h1>
        <p class="lead">@Team.punchline</p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/ait-al_a.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Anas Ait-Ali</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/avakia_a.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Alexandre Avakian</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/bruyer_k.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Kevyn Bruyère</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/charou_p.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Paul Charousset</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/duques_l.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Léo Duquesnel</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/gouty_l.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Luca Gouty</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/le-gar_p.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Pol Le-Garsmeur</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="thumbnail">
                <img src="https://cdn.local.epitech.eu/userprofil/profilview/pichla_g.jpg" class="img-responsive img-thumbnail" />
                <div class="caption">
                    <h3>Guillaume Pichla</h3>
                </div>
            </div>  
        </div>
    </div>
</div>